



<div class="container">
<div style="background: none;" class="block text-center">
    <a href="movies/<%= @new_movie.id %>/view"><img src="<%= @new_movie.image %>" alt="<%=@new_movie.title%>"></a>
    <div class="m-t-0">
    <a class="text-ribbon text-ribbon-primary" href="/">Get new movie</a>
    </div>
  </center>
  </div>
</div>



