
<p><a href="movies/<%= @new_movie.id %>/view"><img src="<%= @new_movie.image %>"></a></p>
<h3><a href="https://en.wikipedia.org/wiki/Bechdel_test">Bechdel Test</a></h3>
<ol>
<li>The movie has to have at least two women in it,</li>
<li>who talk to each other,</li>
<li>about something besides a man.</li>
</ol>