<h1> Movie profile </h1>

<h2> <%= @movie.title %> </h2>


<h3>Add/edit Bechdel rating:</h3>
<p>Please select the criteria that this movie fulfills:</p>
<form action="/results/add" method="post">
	<ol>
	  <li>The movie has to have at least two women in it: <input type="radio" name="q1" value="true"></li>
	  <li>Those women talk to each other: <input type="radio" name="q2" value="true"></li>
	  <li>About something besides a man:<input type="radio" name="q3" value="true"></li>
	</ol>

	<input type="submit">
  
</form>