<h1>Bechdel Gallery</h1>

<div class="container">
  <% if @bechdel_pass != nil %>
    <div class="row">
      <% @bechdel_pass.each_with_index do |movie, i| %>
        <div class="col-md-4">
          <div class="movie_area">
            <div class="movie">
              <a href="/movies/<%= movie.movie_id %>/view">
                <img src="<%= movie.movie_info.image %>">
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No Bechdel results yet.</p>
  <%end%>
</div>

