<h1>Bechdel Gallery</h1>
<img src="/images/icon.png" width= "100px" align="middle" alt="This is a Bechdel test logo.">
<% if @bechdel_pass != nil %>
	<ul>
	<% @bechdel_pass.each do |movie| %>
		<li>
		<a href="/movies/<%= movie.movie_id %>/view">
		<img src="<%= movie.get_image %>"></a>
		</li>
	<%end%>
	</ul>
<% elsif @bechdel_pass == nil %>
<p>No Bechdel results yet.</p>
<%end%>