<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bollywood Bechdel</title>
    <link href='http://fonts.googleapis.com/css?family=Fascinate|Rammetto+One|Poller+One|Monofett|Raleway:400,900,100,800|Homemade+Apple' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <nav>
	 <ul>
	 		<li>
	 			<form action="/movies/search" method="post">
	 				Search:
				 	  <select name="search_category">

						  <option selected disabled>Choose category</option>
							<option value= "title">Title</option>
							<option value= "director">Director</option>
					  </select>

					  <input type="text" name="search" placeholder="search for a movie">

 						<input type="checkbox" name="passes_bechdel" value=1>
                <label>Passes Bechdel Test</label>

	 					<input type="submit" value="Search">
	 			</form>
	 		</li>

	 		<li><a href="/results/list">Bechdel Gallery</a></li>

			<li><a href="/">Home</a></li>

	 	<% if @current_user == nil %>
		 	<li><a href="/users/new"> Create account</a></li>

		 	<li>
			 	<form action="/login" method="post">
					Login:
				    <input type="text" name="email" placeholder="email@address.com">

				    <input type="password" name="password" placeholder="password">

				  	<input type="submit">
				</form>
			</li>

	<% else %>
		  	<li>
		  		<a href="/users/<%= @current_user.id %>/view"> Profile </a>
		  	</li>


			<li><a href="/logout"> Logout </a></li>
	<% end %>

	 </ul>
	</nav>

	 <% if @error != nil %>
	  <% @error.each do |error_message| %>
	  <p style="color:red;">*<%= error_message %> </p>
	   <% end %>
	  <% end %>


  <!-- The `yield` below is where the contents of a view file are put. -->
  <!-- Then the combined layout + view is sent back to the client. -->
  <%= yield %>
</body>

<footer>
	<h3><a href="https://en.wikipedia.org/wiki/Bechdel_test">Bechdel Test</a></h3>
	<ol style="text-align: left">
	<li>1. The movie has to have at least two women in it,</li>
	<li>2. who talk to each other,</li>
	<li>3. about something besides a man.</li>
	</ol>
</footer>
</html>