<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Application</title>
</head>

<body>

  <nav>
	 <ul>
	 		<li>Search:
	 			<form action="/movies/search" method="post">
	 				<input type="text" name="search" placeholder="search for a movie">
	 				<input type="submit" value="Search">
	 			</form>
	 		</li>

	 	<% if @current_user == nil %>
		 	<li><a href="/users/new"> Create account</a></li>

		 	<li>Login:
			 	<form action="/logins" method="post">
				
				    <input type="text" name="email" placeholder="email@address.com">

				    <input type="password" name="password" placeholder="password">

				  	<input type="submit">
				</form>
			</li>

	<% else %>
		  	<li><a href="/users/<%@user.id %>/view"> Profile </a></li>


			<li><a href="/logout"> Logout </a></li>
	<% end %>

		<li><a href="/results/gallery"> Bechdel Gallery </a></li>

	 </ul>
	</nav>
  <!-- This is what a code comment in HTML looks like. -->

  <!-- The `yield` below is where the contents of a view file are put. -->
  <!-- Then the combined layout + view is sent back to the client. -->
  <%= yield %>
</body>
</html>