<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Bollywood Bechdel</title>

    
      <link href="http://fonts.googleapis.com/css?family=Lora:400,400italic|Roboto:100,300,400,700" rel="stylesheet">
      <link href="/css/toolkit-bold.min.css" rel="stylesheet">

      <!-- Your own CSS can go here. -->
      <style type="text/css">
        .movie_area {
          max-height: 400px;
          margin: 15px;
          overflow: hidden;
        }

      </style>
  </head>

<body>
<div class="p-y-lg p-x block block-inverse" style="background: url(https://mrandmrs55.files.wordpress.com/2014/01/shree-420.jpg) top center; background-size: cover">
<div class="container">
	<div class="p-y-lg p-x block block-inverse" style="background: black top center; background-size: cover">
	  <nav class="navbar navbar-transparent m-b-0">
	   <div class="container-fluid">

	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-com">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#">
	          <h4 class="text-uppercase m-y-0">Bollywood Bechdel</h4>
	        </a>
	      </div>

	      <div class="navbar-collapse collapse" id="navbar-collapse-com">
	        <ul class="nav navbar-nav navbar-right">

	          <li>
	            <form action="/movies/search" method="post">
	              <select name="search_category" class="custom-select custom-select-sm">
	                <option selected disabled>Choose category</option>
	                <option value= "title">Title</option>
	                <option value= "director">Director</option>
	              </select>
	              <input type="text" name="search" placeholder="search for a movie">
	              <input type="checkbox" name="passes_bechdel" value=1>
	              	<label>Passes Bechdel Test</label>
	             	<input type="submit" value="Search">
	            </form>
	          </li>

<!--  -->

<!--  -->
	          <li class="m-t-0">
	          	<a class="text-ribbon text-ribbon-primary" href="/results/list">Bechdel Gallery</a>
	          </li>

	          <li class="m-t-0">
	          	<a class="text-ribbon text-ribbon-primary" href="/">Home</a>
	          </li>

	        	<% if @current_user == nil %>
		          <li class="m-t-0">
		          	<a class="text-ribbon text-ribbon-primary" href="/users/new"> Create account</a>
		          </li>

		          <li class="m-t-0">
		            <form action="/login" method="post">
		              Login:
		                <input type="text" name="email" placeholder="email@address.com">
		                <input type="password" name="password" placeholder="password">
		                <input type="submit">
		            </form>
		          </li>

		      	<% else %>
	            <li class="m-t-0">
	              <a class="text-ribbon text-ribbon-primary" href="/users/<%= @current_user.id %>/view">Profile</a>
	            </li>

		          <li class="m-t-0">
			          <a class="text-ribbon text-ribbon-primary" href="/logout">Logout</a>
		          </li>
		     		<% end %>

	        </ul>
	      </div>
	    </div>
	  </nav>
	</div>
</div>


	<!--  -->

	 <% if @error != nil %>
	  <% @error.each do |error_message| %>
	  <p style="color:red;">*<%= error_message %> </p>
	   <% end %>
	  <% end %>


  <!-- The `yield` below is where the contents of a view file are put. -->
  <!-- Then the combined layout + view is sent back to the client. -->
  <%= yield %>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/toolkit.js"></script>
  <script src="/js/application.js"></script>

</body>

<footer style="background: black">

	<h3><a href="https://en.wikipedia.org/wiki/Bechdel_test">Bechdel Test</a></h3>
	<ol>
		<li> The movie has to have at least two women in it,</li>
		<li> who talk to each other,</li>
		<li> about something besides a man.</li>
	</ol>
</footer>
</html>

