<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bollywood Bechdel</title>
    <link href='http://fonts.googleapis.com/css?family=Fascinate|Rammetto+One|Poller+One|Monofett|Raleway:400,900,100,800|Homemade+Apple' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <nav>
	 <ul>
	 		<li>Search:
	 			<form action="/movies/search" method="post">

				 	  <select name="search_category">

						  <option selected disabled>Choose category</option>
							<option value= "title">Title</option>
							<option value= "director">Director</option>
					  </select>

					  <input type="text" name="search" placeholder="search for a movie">

 						<input type="checkbox" name="passes_bechdel" value=1>
                <label>Passes Bechdel Test</label>

	 					<input type="submit" value="Search">
	 			</form>
	 		</li>

	 	<% if @current_user == nil %>
		 	<li><a href="/users/new"> Create account</a></li>

		 	<li>Login:
			 	<form action="/login" method="post">
				
				    <input type="text" name="email" placeholder="email@address.com">

				    <input type="password" name="password" placeholder="password">

				  	<input type="submit">
				</form>
			</li>

	<% else %>
		  	<li>
		  		<a href="/users/<%= @current_user.id %>/view"> Profile </a>
		  	</li>


			<li><a href="/logout"> Logout </a></li>
	<% end %>

		<li><a href="/results/list">Bechdel Gallery</a></li>

	 </ul>
	</nav>

  <!-- The `yield` below is where the contents of a view file are put. -->
  <!-- Then the combined layout + view is sent back to the client. -->
  <%= yield %>
</body>
</html>